.container{
    width: 55px;
    display: flex;
    border: 1.5px solid #522da9;
    border-radius: 30px;
    padding: 3px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.icon{
    font-size: 15px;
}

.ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #522da9;
    position: absolute;
    
}